// *************************************************
// app.scss
// *************************************************

//utilities
@import "utilities/index";

//base
@import "base/index";

//layout
@import "layout/index";

//modules
@import "modules/index";

//states
@import "states/index";


.box {
	width: 100px;
	height: 100px;
	background: black;
	margin: 30px;
	@include border-radius(10px 5px 20px 0);
}
