// *************************************************
// Config scss
// *************************************************

// Font Stack
$google-font-primary      : "http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700";
$google-font-secondary    : "http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,500,500italic,700italic";


// Font Weights
$font-weight--thin        : 100;
$font-weight--light       : 300;
$font-weight--regular     : 400;
$font-weight--medium      : 500;
$font-weight--bold        : 700;
$font-weight--ultra-bold  : 900;

// Color Base
$white          : #fff;
$black          : #000;


// Text
$base__font-size  : 16px;
$base__line       : 1.5;